.toggle-theme {
  display: flex;
  align-items: center;
  gap: 1.2em;

  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  cursor: pointer;

  color: rgba(var(--color-theme-switch-toggle), 1);
    


  &--light {
    fill: #FFF;

    &:hover{
      color: rgba(var(--color-light-toggle-hover), 1);
      fill: rgba(var(--color-light-toggle-hover), 1);
    }
  }

  &--dark {
    fill: #697C9A;

    &:hover{
      color: rgba(var(--color-dark-toggle-hover), 1);
      fill: rgba(var(--color-dark-toggle-hover), 1);
    }
  }
}