@forward "./css/normalize.scss";
@forward "./css/colors.scss";
@forward "./css/fonts.scss";
@forward "./css/elements.scss";
@forward "./css/toggle-theme.scss";
@forward "./css/user-search.scss";
@forward "./css/user.scss";
@forward "./css/stats.scss";
@forward "./css/links.scss";
@forward "./css/utility.scss";

.container {
  width: 100%;
  border-radius: 1.2em;
  border: none;
  box-shadow: 0 1.2em 2.3em rgba(var(--color-box-shadow), 0.2);
  background-color: rgba(var(--color-container), 1);
}
