@forward "./css/normalize.scss";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
/*                                SETTINGS                                  */
//COLORS
:root {
  --0079FF: 0, 121, 255;
    // @tag
    //Idle Search Bar, Search Bar Magnifying Glass, Search Bar Cursor 
  --60ABFF: 96, 171, 255;
    //Search Bar Button - Light
  --90A4D4: 114, 164, 212;
    //Dark Toggle Button -- Hover
  --697C9A: 105, 124, 154;
    //Join Date -- Light Mode
  --4B6A9B: 75, 106, 155;
    //Text -- Light Mode (All text except Name, Tag, Joined Date, Numbers)
  --222731: 34, 39, 49
    //Search Bar Text (when search bar is not empty)
  --2B3442: 43, 52, 66;
    //Name, Numbers (Repos, Followers, Following)
  --F6F8FF: 246, 248, 254;
    //Page Background -- Light Mode
    //Profile Number Background (Repos, Followers, Following) -- Light Mode
  --FEFEFE: 254, 254, 254;
    //Search Bar Background, Results Background -- Light Mode
  --FFFFFF: 255, 255, 255;
    //All Text -- Dark Mode
  --141D2F: 20, 29, 47;
    //Page Background -- Dark Mode
    //Profile Number Background -- Dark Mode
  --1E2A47: 30, 42, 71;
    //Search Bar Background, Results Background -- Dark Mode


  --color-account-tag: var(--0079FF);
  --color-search-bar-dark-blue: var(--0079FF);
  --color-search-bar-light-blue: var(--60ABFF);
  --color-dark-toggle-hover: var(--90A4D4);
}

[data-theme="default"] {
  --color-join-date: var(--697C9A);
  --color-light-text: var(--4B6A9B);
  --color-dark-text: var(--2B3442);
  --color-search-text: var(--222731);
  --color-page: var(--F6F8FF);
  --color-container: var(--FEFEFE);
}

[data-theme="dark"] {
  --color-join-date: var(--FFFFFF);
  --color-light-text: var(--FFFFFF);
  --color-dark-text: var(--FFFFFF);
  --color-search-text: var(--FFFFFF);
  --color-page: var(--141D2F);
  --color-container: var(--1E2A47);
}

//FONTS 
:root {
  //Style
  --space-mono: 'Space Mono', monospace;

  font-family: var(--space-mono);

  //Size
  --font-h1: 1.7rem;
  --font-h2: 1.5rem;
  --font-h3: 1.1rem;
  --font-h4: 0.9rem;
  
  font-size: calc(0.8125em + 0.14vw);
}


body {
  background-color: rgba(var(--color-page), 1);
}

h1 {
  font-size: var(--font-h1);
}

h2 {
  font-size: var(--font-h2);
}

h3 {
  font-size: var(--font-h3);
}

h4 {
  font-size: var(--font-h4);
}

main {
  margin: 0 2em;
  display: flex;
  flex-direction: column;
}
